<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="style1">
	<style>
.oddStyle {
	background-color: HoneyDew;
}

.evenStyle {
	background-color: LavenderBlush;
}

.firstStyle {
	color: blue;
}

table {
	border-collapse: collapse;
	margin: 0px auto;
}

#tblContent, #commentContent, #myModal {
	width: 70%;
	text-align: center;
	margin: 0px auto;
}

th, td {
	padding: 5px;
}
</style>
</th:block>
</head>
<body>
	<div class="panel panel-default" layout:fragment="content1">
		<div id="tblContent">
			<h1>🐣WebBoard Detail🐣</h1>
			<div class="panel-heading">게시글 상세 조회를 해보자~~~</div>
			<div class="panel-body">
				<div class="form-group">
					<label>BNO</label> <input class="form-control" name="bno"
						th:value="${board.bno}" readonly="readonly" />
				</div>
				<div class="form-group">
					<label>Title</label> <input class="form-control" name="title"
						th:value="${board.title}" readonly="readonly" />
				</div>
				<div class="form-group">
					<label>Content</label>
					<textarea class="form-control" rows="3" name="content"
						th:text="${board.content}" readonly="readonly"></textarea>
				</div>
				<div class="form-group">
					<label>Writer</label> <input class="form-control" name="writer"
						th:value="${board.writer}" readonly="readonly" />
				</div>
				<div class="form-group">
					<label>RegDate</label> <input class="form-control" name="regdate"
						th:value="${#dates.format(board.regdate,'yyyy-MM-dd')}"
						readonly="readonly" />
				</div>
			</div>
			<div class="pull_right">
				<a class="btn btn-primary"
					th:href="@{modify.do(page=${pageVO.page}, 
    size=${pageVO.size}, type=${pageVO.type}, 
    keyword=${pageVO.keyword},bno=${board.bno})}">Modify/Delete</a>
				<a class="btn btn-primary"
					th:href="@{list.do(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, 
					keyword=${pageVO.keyword})}">Go
					List</a>
				<!-- 우리가 보던 페이지를 그대로 보이기 위해 페이지 이동 시 list.do(page=??) -->
			</div>
		</div>

		<div id="commentContent">
			<h2>댓글 정보</h2>
			<div class="pull_right">
				<button data-toggle="modal" data-target="#myModal"
					class="btn btn-warning" id="addReplyBtn">댓글추가</button>
			</div>
			<table class="table table-striped table-bordered  table-hover">
				<thead>
					<tr>
						<th>댓글번호</th>
						<th>내용</th>
						<th>작성자</th>
					</tr>
				</thead>
				<tbody id="replyTable" data-toggle="modal" data-target="#myModal">
				</tbody>
			</table>

		</div>
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="model_dialog">
				<!-- Modal content -->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">modal-title변경 Modal Header</h4>
					</div>
					<div class="modal-body">
						<label>rno</label> <input type="text" name="rno"
							class="form-control" readonly> <label>ReplyText</label> <input
							type="text" name="replyText" class="form-control"> <label>Replyer</label>
						<input type="text" name="replyer" class="form-control">
					</div>
					<div class="modal-footer">
						<button id="modalSaveBtn" class="btn btn-info">Save</button>
						<button id="modalDelBtn" class="btn btn-info">Delete</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 모달끝 -->

	</div>
	<th:block layout:fragment="script1">
		<script th:inline="javascript" th:src="@{'/js/reply.js'}"></script>
		<!-- external js를 import해서 사용 -->
		<script th:inline="javascript">
			/* external js를 통해 만들어진 replyManager를 이용 */
			/* 즉시 실행 함수를 사용하는 방법 - 변수, 변수, 함수 */
			console.log(externalFunc.myname);
			console.log(externalFunc.mycompany);
			/* externalFunc.work(); */

			/* 전체 댓글 조회 */
			replyManager.getAll("[[${board.bno}]]", printList);
			function printList(rList, status, xhr) {
				/* ajax success: function(result, status, xhr) {} */
				/* HttpStatus.OK -> 200, HttpStatus.CREATED -> 201 (문자는 success로 동일) */
				console.log(status);
				console.dir(xhr);
				var str = "";
				$.each(rList, function(idx, item) {
					str += "<tr>";
					str += "<td>" + item["rno"] + "</td>";
					str += "<td>" + item["replyText"] + "</td>";
					str += "<td>" + item["replyer"] + "</td>";
					str += "</tr>";
				});
				$("#replyTable").html(str);
			}

			/* 댓글 입력 */
			var mode = "";
			var rno = $("input[name='rno']");
			var replyText = $("input[name='replyText']");
			var replyer = $("input[name='replyer']");

			$("#addReplyBtn").click(function() {
				mode = "ADD";
				/* alert("add클릭"); */
				rno.val("");
				replyText.val("");
				replyer.val("");
				$("#myModal").show();
				$(".modal-title").text("댓글을 추가합니다.")
			});

			/* 댓글 수정 */
			$("#replyTable").on("click", "tr", function() {
				mode = "MOD";
				var tds = $(this).find("td");
				var no = tds[0].innerHTML; /* td의 사이에 있는 문자를 읽어야 하기 때문에 innerHTML */
				var reply = tds[1].innerHTML;
				var replyer = tds[2].innerHTML;
				$("input[name='rno']").val(no);
				$("input[name='replyText']").val(reply);
				$("input[name='replyer']").val(replyer);
				$("#myModal").show();
				$(".modal-title").text("수정 또는 삭제 작업")
			});

			/* 댓글 입력, 수정 */
			$("#modalSaveBtn").click(function() {
				var obj = {
					"bno" : "[[${board.bno}]]",
					"replyText" : replyText.val(),
					"replyer" : replyer.val()
				};
				if (mode == "ADD") {
					replyManager.add(obj, printList);
					alert("입력완료");
				} else if (mode == "MOD") {
					obj["rno"] = rno.val();
					replyManager.update(obj, printList);
					alert("수정완료");
				}
				rno.val("");
				replyText.val("");
				replyer.val("");
				$("#myModal").modal("hide");
			});

			/* 댓글 삭제 */
			$("#modalDelBtn").click(function() {
				var obj = {
					"bno" : "[[${board.bno}]]", /* 삭제 후 다시 조회해야 하기 때문에 bno도 필요함 */
					"rno" : rno.val() 
				};
				replyManager.remove(obj, printList);
				alert("삭제완료");
				rno.val("");
				replyText.val("");
				replyer.val("");
				$("#myModal").modal("hide");
			});
		</script>
	</th:block>
</body>
</html>